.bar{
    display: flex;
    width:20%;
    height: 100vh;
    border: 1px solid black;
    flex-direction: column;
    margin-right: 10px;
}
.bar button{
    height:50px;
    background-color: red;
}
.groups button
{
    display: flex;
    border: 1px solid;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: whitesmoke;
    cursor: pointer;
}
