.container{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 80px;
        align-items: center;
        height: 70vh;
        width: 25%;
        box-shadow: 2px 4px 18px black;
        border-radius: 10px;
}

.formCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.formCard label{
    font-size: 20px;
    margin: 10px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.formCard input{
    height: 25px;
    width: 80%;
    font-size: medium;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.formCard button{
    width: max-content;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.toggle{
    width: max-content;
    border-radius: 5px;
    height: 30px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}


